{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}


<!-- Navigation -->
{% block nav_li %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Каталог <i class="fas fa-shopping-bag"></i> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="auth/login.html">Войти <i class="fas fa-sign-in-alt"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="auth/profile.html">User
            <i class="fas fa-user-circle"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="admin/admin.html">
            <i class="fas fa-users-cog"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Выйти <i class="fas fa-sign-out-alt"></i></a>
    </li>
{% endblock %}

<!-- Page Content -->
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">GeekShop Store</h1>
                    <p>
                        Новые образы и лучшие бренды на GeekShop Store.
                        Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
